link( href = "/lib/bootstrap/dist/css/bootstrap.min.css", rel = "stylesheet" )
link( href = "/css/style.css", rel = "stylesheet" )
script(src = "/lib/jquery/dist/jquery.min.js")
script(src = "/lib/bootstrap/dist/js/bootstrap.min.js")
script(src = "/js/admin.js")

link(href="/lib/video-js/video-js.css" rel="stylesheet")
script(src="/lib/video-js/video.js")
