.carousel{
	height: 500px;
	background-color: #000;
	padding-bottom: 60px;
}
.carousel .item{
	height: 500px;
	background-color: #000;
}
.carousel img{
	width:100%;
}
.container{
	padding-top:20px;
}

img.poster{
	width: 100%;
	height: 215px;
}

img.home{
	width: 100px;
	height: 100px;
}

#home-container .col-md-4{
	text-align: center;
}

.vjs-default-skin .vjs-control-bar { 
	font-size: 78%;
}

body.home{
	padding-top: 50px;
}
.footer{
	position: fixed;
	height: 40px;
	line-height: 40px;
	width: 100%;
	bottom: 0px;
	text-align: center;
	background-color: #2c3539;
	color: black;
}
.pagenum{
	margin: 0 auto;
	text-align :center;
	width:100%;
	position: fixed;
	bottom: 0px;
}
