doctype html
head
    meta(cahsrset = "utf-8")
    title #{title}
    include ../includes/head
body.home
    nav.navbar.navbar-inverse.navbar-fixed-top(role = "navigation")
        .container-fluid
        .navbar-header
            a.navbar-brand(href = "/")
                img(alt = "Brand", src = "/image/brand.jpg",width = 30, height = 30)
            button.navbar-toggle.collapsed(type = "button", data-toggle="collapse", data-target = "#bs-example-navbar-collapse-1")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .collapse.navbar-collapse(id = "bs-example-navbar-collapse-1")
            ul.nav.navbar-nav
                li.home
                    a(href = "/") 首页
                li.index
                    a(href = "/index/") 主页
                li.themelist
                    a.dropdown-toggle(href = "#", data-toggle = "dropdown", role = "button", aria-haspopup = "true", aria-expanded = "false") 主题
                    ul.dropdown-menu
                        li
                            a.theme(href = "/index/science") 科幻
                        li
                            a.theme(href = "/index/comedy") 喜剧
                        li
                            a.theme(href = "/index/newest") 最新
                        li
                            a.theme(href = "/index/terror") 恐怖
                        li
                            a.theme(href = "/index/love") 爱情
                        li
                            a.theme(href = "/index/asume") 娱乐
                        li
                            a.theme(href = "/index/action") 动作
                        li
                            a.theme(href = "/index/drama") 剧情
                        li
                            a.theme(href = "/index/war") 战争
                        li
                            a.theme(href = "/index/anime") 动画
                        li
                            a.theme(href = "/index/other") 其他
            if user
                p.navbar-text.navbar-right
                    span 欢迎您,#{user.name}
                    span &nbsp; |&nbsp
                    a.navbar-link(href = "/user/logout") 登出
                    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                if (user.role >10)
                    ul.nav.navbar-nav
                        li.list
                            a(href = "/admin/movie/list") 电影列表
                        li.list
                            a(href = "/admin/user/list") 用户列表
                        li.submit
                            a(href = "/admin/movie") 录入                    
            else
                p.navbar-text.navbar-right
                    a.navbar-link(href = "/user/showsignup") 注册
                    span &nbsp; |&nbsp
                    a.navbar-link(href = "/user/showsignin") 登录
                    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            ul.nav.navbar-nav
                li.about
                    a(href = "#", data-toggle = "modal", data-target = "#about") 关于
    .carousel.slide(data-ride = "carousel", id = "carousel-example-generic")
        ol.carousel-indicators
            li.active(data-target="#carousel-example-generic" data-slide-to="0")
            li(data-target="#carousel-example-generic" data-slide-to="1")
            li(data-target="#carousel-example-generic" data-slide-to="2")
        .carousel-inner(fole = "listbox")
            .item.active
                img(src = "/image/pic3.jpg", alt = "1 slide")
                .carousel-caption
                    h3 欢迎大家
            .item
                img(src = "/image/pic2.jpg", alt = "2 slide")
                .carousel-caption
                    h3 欢迎大家
            .item
                img(src = "/image/pic1.jpg", alt = "3 slide")
                .carousel-caption
                    h3 欢迎大家
        a.left.carousel-control(href = "#carousel-example-generic", role = "button", data-slide = "prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden = "true")
            span.sr-only Previous
        a.right.carousel-control(href = "#carousel-example-generic", role = "button", data-slide = "next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden = "true")
            span.sr-only Next
    .modal.fade(id = "about")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type = "button", data-dismiss = "modal", aria-label = "Close")
                        span(aria-hidden = "true") &times;
                    h4.modal-title 关于
                .modal-body
                    p 本网站处于试用版，尚待完善......
                .modal-footer
                    button.btn.btn-primary(data-dismiss = "modal") 知道了
    .container(id = "home-container")
        .row
            .col-md-4
                a(target = '_blank',href = "http://www.letv.com/")
                    img.home(src = "/image/letv.png")   
                    h5 乐视视频
                p 乐视TV全称乐视致新电子科技（天津）有限公司，是国内上市公司乐视网控股的子公司。
            .col-md-4
                a(target = '_blank',href = "http://v.qq.com/")
                    img.home(src = "/image/tencent.jpg")
                    h5 腾讯视频
                p 腾讯是中国最大的互联网综合服务提供商之一，也是中国服务用户最多的互联网企业之一。
            .col-md-4
                a(target = '_blank',href = "http://www.youku.com/")
                    img.home(src = "/image/youku.png")
                    h5 优酷视频
                p 优酷是中国领先的视频分享网站，优酷网现已成为互联网拍客聚集的阵营。
    .footer 北京xxxx大学(LK)出品