extend ../layout

block content
	.container
		.row
			.col-md-4
			.col-md-4
				form(method = "POST", action = "/user/signin")
					.modal-header
						span.glyphicon.glyphicon-user
					.modal-body
						.form-group
							label(for = "signinName") 用户名
							input#signinName.form-control(name = "user[name]",type = "text", required="required" )
						.form-group
							label(for = "signinPassword") 密码
							input#signinPassword.form-control(name = "user[password]",type = "password", required="required" )
					.modal-footer
						span.pull-left
							a(href = "/user/showsignup") 注册
							span &nbsp | &nbsp
							a(href = "#") 忘记密码?
						button.btn.btn-success(type = "submit") 登录