extend ../layout

block content
    .container
        .row
            .col-md-4
            .col-md-4
                form(method = "POST", action = "/user/signup")
                    .modal-header
                    .modal-body
                        .form-group
                            label(for = "signupName") 用户名
                            input#signupName.form-control(name = "user[name]",type = "text", required="required" )
                        .form-group
                            label(for = "signupPassword") 密码
                            input#signupPassword.form-control(name = "user[password]",type = "password", required="required" )
                        .form-group
                            label(for = "signupPasswordAgain") 确认密码
                            input#signupPasswordAgain.form-control(name = "pwd_confirm[confirm]",type = "password", required="required" )
                    .modal-footer
                        button.btn.btn-default(type = "button", data-dismiss = "modal") 关闭
                        button.btn.btn-primary(type = "submit") 提交